$fontFamily: Verdana, sans-serif;
$color-white: #ffffff;
$color-grey1: #f2f2f2;
$color-grey2: #cccccc;
$color-red: #ff0000;
$color-green1: #4CAF50;
$color-green2: #45a049;
$padding5: 5px;
$padding12: 12px;
$padding14: 14px;
$padding20: 20px;
$padding50: 50px;
$margin0: 0px;
$margin5: 5px;
$margin8: 8px;
$margin10: 10px;
$margin15: 15px;
$margin20: 20px;
$font-size18: 18px;
$font-size15: 15px;
$border1: 1px;
$border4: 4px;
$border5: 5px;
$height350: 350px;
$height100p: 100%;
$width100p: 100%;
$width50p: 50%;